<header class="block-header">
    <div class="block-header__left-part">
        <img class="block-header__logo-picture"
             src="https://res.cloudinary.com/dq2s2ibrg/image/upload/v1493969737/rocket_xpcgs9.png">
        <a class="block-header__link"
           (click)="selectMainPage()">
            НА ГЛАВНУЮ
        </a>
    </div>
    <div class="block-header__right-part">
        <a class="block-header__link"
           (click)="selectRegistration()">
            РЕГИСТРАЦИЯ
        </a>
        <a class="block-header__link">
            ВХОД
        </a>
        <a class="block-header__link" href="#">
            ЛИЧНЫЙ КАБИНЕТ
        </a>
    </div>
</header>
