<section class="translate">
    <h2 class="translate__title-main">ПЕРЕВОД</h2>
    <h4 class="translate__title-descr">[ с английского на русский ]</h4>
    <p class="translate__main-word">
        {{ testingWord.original }}
    </p>
    <div class="translate__sound-btn">ПОСЛУШАТЬ ЕЩЕ РАЗОК</div>
    <ul class="translate__list">
        <li *ngFor="let item of translates; let i = index"
            [ngClass]="{
          'translate__check-word': true,
          'translate-right': item.isRight,
          'translate-wrong': item.isWrong
        }"
            (click)="checkWord(i)">
            {{ item.translate }}
        </li>
    </ul>
    <p class="translate__description">
        <sup>*&nbsp;</sup>
        выбери мышкой слово-перевод ... или нажми его номер на клавиатуре
    </p>
    <p class="translate__description">
        <sup>**&nbsp;</sup>
        не забудь включить звук, чтобы слышать произношение
    </p>
    <!--<audio src="../src/sound/{{ enWord }}.mp3" id="main-sound" data-enWord="{{ enWord }}" autoplay></audio>
    <audio src="../src/sound/game_sound_correct.mp3" id="correct-sound"></audio>
    <audio src="../src/sound/game-sound-wrong.mp3" id="wrong-sound"></audio>-->
</section>