<form class="registration">
  <h2 class="registration__title">РЕГИСТРАЦИЯ</h2>
  <input type="hidden" class="csrf-token" value="">
  <p class="registration__notice" id="notice"></p>

  <table class="registration__table" cellspacing="10" cellpadding="5">
    <tr>
      <td><label class="registration__text" for="login">Имя</label></td>
      <td><input class="registration__field" type="text" id="login" name="login"></td>
    </tr>
    <tr>
      <td><label class="registration__text" for="email">Почта</label></td>
      <td><input class="registration__field" type="email" id="email" name="email"></td>
    </tr>
    <tr>
      <td><label class="registration__text" for="password">Пароль</label></td>
      <td><input class="registration__field" type="password" id="password" name="password"></td>
    </tr>
    <tr>
      <td nowrap><label class="registration__text" for="password-repeat" id="password-repeat-label">Повторите пароль</label></td>
      <td><input class="registration__field" type="password" id="password-repeat" name="password-repeat"></td>
    </tr>
    <tr>
      <td colspan="2" class="registration__cell-btn">
        <div class="registration__btn" type="submit" name="submit-register">
          ЗАРЕГИСТРИРОВАТЬСЯ
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2"><span class="registration__descr"><sup>* </sup>все поля обязательны к заполнению</span>      </td>
    </tr>
    <tr>
      <td colspan="2"><span class="registration__descr"><sup>* </sup>пароль должен содержать только английские буквы и/или цифры</span>      </td>
    </tr>
  </table>

</form>