<form [formGroup]="formGroup" class="registration  z-depth-2">
  <h2 class="registration__title">РЕГИСТРАЦИЯ</h2>
  <p class="registration__notice" id="notice"></p>

  <table class="registration__table" cellspacing="10" cellpadding="5">
    <tr>
      <td><label class="registration__text" for="login">Имя</label></td>
      <td><input formControlName="name"
                 [ngClass]="{registration__field: true, invalid: nameInvalid}"
                 type="text" id="login" name="login">
      </td>
    </tr>
    <tr>
      <td><label class="registration__text" for="email">Почта</label></td>
      <td><input formControlName="email"
                 [ngClass]="{registration__field: true, invalid: emailInvalid}"
                 type="email" id="email" name="email"
                 (keyup.enter)="emailEnter()"
                 (blur)="emailBlur()"></td>
    </tr>
    <tr>
      <td><label class="registration__text" for="password">Пароль</label></td>
      <td><input formControlName="password"
                 [ngClass]="{registration__field: true, invalid: passwordInvalid}"
                 type="password" id="password" name="password"
                 (keyup.enter)="passwordEnter()"
                 (blur)="passwordBlur()">
      </td>
    </tr>
    <tr>
      <td nowrap>
        <label class="registration__text" for="password-repeat"
               id="password-repeat-label">
          Повторите пароль
        </label>
      </td>
      <td><input formControlName="passwordRepeat"
                 [ngClass]="{registration__field: true, invalid: passwordInvalid}"
                 type="password" id="password-repeat" name="password-repeat"
                 (keyup.enter)="passwordRepeatEnter()"
                 (blur)="passwordRepeatBlur()"></td>
    </tr>
    <tr>
      <td colspan="2" class="registration__cell-btn">
        <div (click)="register()" class="registration__btn  z-depth-1" name="submit-register">
          ЗАРЕГИСТРИРОВАТЬСЯ
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2"><span class="registration__descr"><sup>* </sup>все поля обязательны к заполнению</span></td>
    </tr>
    <tr>
      <td colspan="2"><span class="registration__descr"><sup>* </sup>пароль должен содержать только английские буквы и/или цифры</span>
      </td>
    </tr>
  </table>

</form>
