<section class="selection  z-depth-2">

    <h2 class="selection__title-main">ПОДБОР</h2>
    <h4 class="selection__title-descr">[ по буквам ]</h4>

    <ul class="selection__checklist">
        <li *ngFor="let item of checkArray"
            [ngClass]="{'selection__check-letter': true,
                        'selection-hidden': !item.isShown,
                        'selection__empty': item.isEmpty}">
            {{ item.letter }}
        </li>
    </ul>

    <button md-raised-button class="selection__sound-btn">ПРОСЛУШАТЬ ЕЩЕ РАЗ</button>

    <ul class="selection__pick-list">
        <li *ngFor="let item of pickArray; let i = index"
            [ngClass]="{'selection__pick-letter': true,
                        'selection-wrong': item.isWrong}"
            [style.display]="item.isShown ? 'block' : 'none'"
            (click)="selectPickLetter(i)">
            {{ item.letter }}
        </li>
    </ul>

    <p class="selection__description">
        <sup>*&nbsp;</sup>
        собери слово, выбирая буквы в правильном порядке
    </p>
</section>















