<section class="enter  z-depth-2">
    <h2 class="enter__title">РЕЗУЛЬТАТЫ</h2>
    <div class="enter__data">
        <div class="enter__data-left">
            <p class="enter__data-info">
                Слов на изучении:
                <span class="enter__number">{{ learningWordsCount }}</span>
            </p>
            <p class="enter__data-info">
                Слов для повторения:
                <span class="enter__number">{{ trainingWordsCount }}</span>
            </p>
        </div>
        <div class="enter__data-right">
            <div class="enter__btn z-depth-1"
                 (click)="goTraining()">
                ТРЕНИРОВКА
            </div>
            <div class="enter__btn  btn-secondary  z-depth-1">БЛИЦ-ПРОВЕРКА</div>
        </div>
    </div>
</section>
