<section class="enter  z-depth-2">
    <h2 class="enter__title">ИНФО</h2>
    <div class="enter__data">
        <div class="enter__data-left">
            <p class="enter__data-info">
                Слов на изучении:
                <span class="enter__number">{{ learningWordsCount }}</span>
            </p>
            <p class="enter__data-info">
                Слов для повторения:
                <span class="enter__number">{{ trainingWordsCount }}</span>
            </p>
        </div>
        <div class="enter__data-right">
            <button md-raised-button class="enter__btn"
                 (click)="goTraining()">
                ТРЕНИРОВКА
            </button>
            <button md-raised-button class="enter__btn  btn-orange">БЛИЦ-ПРОВЕРКА</button>
        </div>
    </div>
</section>
