<div class="container">
    <app-translate *ngIf="currentAlgorithmName == algorithmsContainerService.TRANSLATE"
                   [testingWord]="currentAlgorithm.data.word"
                   [translates]="currentAlgorithm.data.translates"
                   [hash]="hash"
                   [algorithmChanger]="algorithmsContainerService.algorithmChanger$$"></app-translate>

    <app-selection *ngIf="currentAlgorithmName == algorithmsContainerService.SELECTION"
                   [word]="currentAlgorithm.data.word.original"
                   [hash]="hash"
                   [algorithmChanger]="algorithmsContainerService.algorithmChanger$$"></app-selection>
</div>
<div *ngIf="askDeactivate"
     class="deactivate-popup">
    <p class="deactivate-popup__question">Завершить тренировку?</p>
    <div class="deactivate-popup__buttons">
        <div class="deactivate-popup__btn" (click)="deactivate(true)">ДА</div>
        <div class="deactivate-popup__btn" (click)="deactivate(false)">НЕТ</div>
    </div>
</div>
<div *ngIf="askDeactivate"
     class="deactivate-overlay">
</div>